version: "3"

services:
  cert-test:
    container_name: cert-test
    build:
      context: .
    ports:
      - 3000:8080
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    working_dir: /usr/src/app
    depends_on: 
      - nginx
    
  nginx:
    image: nginx
    container_name: cert-test-nginx
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - ./nginx-server/proxy.conf:/etc/nginx/conf.d/default.conf
      - ./certs/server.crt:/etc/ssl/server.crt
      - ./certs/server.key:/etc/ssl/server.key
      - ./certs/ca.crt:/etc/nginx/client_certs/ca.crt